@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply text-slate-900 antialiased;
  background-color: #f7f3ed;
}

.container-layout {
  @apply mx-auto w-full max-w-6xl px-6;
}
